<h1>Players</h1>
<ul>
  <% @players.each do |player| %>
    <% iron = player.iron_factory %>
    <% copper = player.copper_factory %>
    <% gold = player.gold_factory %>
    <li>
      <%= player.email%>
      (Level: <%= player.level %>,
      Iron: <%= iron.resources %>,
      Copper: <%= copper.resources %>,
      Gold: <%= gold.resources %>)
    </li>
  <% end %>
</ul>
