<h1>Player <%= @player.email %></h1>
<h2>Your factories</h2>
<ul>
  <li>Iron (Level: <%= @player.iron_factory.level %>, Resources: <%= @player.iron_factory.resources %>)</li>
  <li>Copper (Level: <%= @player.copper_factory.level %>, Resources: <%= @player.copper_factory.resources %>)</li>
  <li>Gold (Level: <%= @player.gold_factory.level %>, Resources: <%= @player.gold_factory.resources %>)</li>
</ul>
