<!DOCTYPE html>
<html>
  <head>
    <title>Og2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
    <% if current_player %>
      <h2>Your factories</h2>
      <ul>
        <% Factory.kinds.each do |metal, _| %>
          <% factory = current_player.send("#{metal}_factory") %>
          <li><%= metal.capitalize %> (Level: <%= factory.level %>, Resources: <%= factory.resources %></li>
        <% end %>
      </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
